<div class=" max-w-[800px]  mx-auto">
    <div class="downloadBtn w-[30px]  h-[30px] bg-black rounded-[50%]  px-[6px] py-[3px] 
    cursor-pointer"><span class="text-white"><i class="fa-solid fa-download"></i></span></div>
    <div class="bodyBtn w-[40px] h-[60px] fixed  justify-center items-center flex-col 
    bg-black z-2 rounded-lg gap-1 hidden"><span  class="plusicon w-[25px] h-[25px] rounded-[50%] bg-blue-200 text-[16px] px-[5px] py-[2px]"><i class="fa-solid fa-plus"></i></span>
    <span class="deleteIcon w-[25px] h-[25px] rounded-[50%] bg-blue-200 text-[16px] px-[5px] py-[2px]"><i class="fa-solid fa-trash"></i></span></div>
    <div class="wholeContainer relative  w-full  min-h-[900px] py-[30px]  px-5 border-[2px] 
               border-solid border-gray-400  ">
        <div class=" flex justify-between item-center">
          
           <div> 
            <h1 class="draggableEle  font-bold text-[35px] uppercase cursor-pointer" contenteditable="true" draggable="true">ahmdd saah</h1>
            <div class="flex justify-center item-center gap-2 pt-2">
            <span class="text-[18px]  bg-zinc-700  text-white rounded-[50%]  w-[35px] h-[35px] text-center py-1 "><i class="fa-brands fa-github"></i></span>
            <span class="text-[18px] bg-zinc-700  text-white rounded-[50%]  w-[35px] h-[35px] text-center py-1 "><i class="fa-brands fa-linkedin-in"></i></span>
            <span class="text-[18px] bg-zinc-700  text-white rounded-[50%]  w-[35px] h-[35px] text-center py-1   "><i class="fa-solid fa-briefcase"></i></span>
            </div>
            </div>
            <div class="">
            <h1 class="font-semibold text-[17px] text-blue-400 "><span class="text-[18px] text-black "><i class="fa-solid fa-envelope"></i></span>&nbsp; <span contenteditable="true"> hello@reallygreatsite.com</span></h1>
            <h1 class="font-semibold text-[17px] text-blue-400 "><span class="text-[18px] text-black"><i class="fa-solid fa-phone"></i></span>&nbsp; <span contenteditable="true">+91 1234567890</span> </h1>
            <h1 class="font-semibold text-[17px] text-blue-400 "><span class="text-[18px] text-black"><i class="fa-solid fa-location-dot"></i></span>&nbsp; <span contenteditable="true">Jaipur, Rajsthan (334433)</span></h1>
            </div>
        </div>
        <div class="selectedParentContainer draggableEle ">  <div class="w-[100%] mx-auto border-[1px] border-solid border-zinc-800
              mt-8 "></div></div>
      <div class="selectedParentContainer draggableEle">  <div class=" bg-zinc-700 rounded-5 mt-[10px] py-1 h-10 font-bold text-2xl
        text-white  px-3 uppercase cursor-pointer" contenteditable="true">
        <h1 class=" font-bold text-2xl  uppercase cursor-pointer text-white" contenteditable="true" draggable="true" >
            <span  class="text-xl text-white"><i class="fa-solid fa-list"></i></span> SUMMARY</h1></div></div> 
         <div class="w-full text-gray-700  px-3 pt-2 text-[18px] font-semibold leading-snug text-justify  draggableEle selectedParentContainer cursor-pointer" draggable="true"><p contenteditable="true" >UX Designer with a focus on delivering impactful results, eager to tackle dynamic challenges and apply creativity to craft intuitive user experiences. Demonstrated proficiency in project management, user centric problem-solving, and seamless collaboration across teams. Skilled in leveraging state-of-the-art tools and methodologies to streamline processes and elevate user satisfaction</p></div>

       <div class="selectedParentContainer draggableEle ">  <div class="w-[100%] mx-auto border-[1px] border-solid border-zinc-800 
         mt-8 "></div></div>
    <div class="selectedParentContainer draggableEle "> <div class=" bg-zinc-700  text-white rounded-5 mt-[10px] py-1 h-10 font-bold text-2xl  px-3 uppercase cursor-pointer" contenteditable="true">
        <h1 class=" font-bold text-2xl  uppercase cursor-pointer text-white" contenteditable="true" draggable="true"><span  class="text-xl text-white"><i class="fa-solid fa-kitchen-set"></i></span> ADDITIONAL SKILLS</h1></div></div>     
        <div class=""> <div class=" px-3 pt-2 mt-2 "></div>    
            <ul class="list-disc text-[18px] text-justify leading-snug draggableEle   selectedParentContainer px-3" >
                <li class="font-semibold text-gray-700 " contenteditable="true" draggable="true">
                    <b class=" text-[20px] capitalize font-bold text-black" >Technical Skills :</b> Project Management, Structural Analysis, Robotics and Automation, CAD</li>
                <li class="font-semibold text-gray-700 " contenteditable="true" draggable="true"><b class=" text-[20px] text-black capitalize font-bold">Web Tools :</b> VSCode , Postman, Chrome DevTools ,GitHub , Netlify</li>
                <li class="font-semibold text-gray-700 " contenteditable="true" draggable="true"><b class=" text-[20px] text-black capitalize font-bold">Web Development :</b> CSS, HTML, DOM Manipulation, Async JS,
                     APIs, Node.js, REST APIs, CURD Operations, Git & Version Control</li>
                 
                <li class="font-semibold" contenteditable="true" draggable="true"><b class=" text-[20px] capitalize font-bold">Frameworks :</b> Tailwind , React.js ,Express.js</li>
            </ul>
         </div>
         
         <div class="selectedParentContainer draggableEle ">  <div class="w-[100%] mx-auto border-[1px] border-solid border-zinc-800
              mt-8 "></div></div>

    <div class="selectedParentContainer draggableEle ">  
        <div class="  bg-zinc-700 text-white rounded-5 mt-[10px] py-1 h-10 font-bold text-2xl  px-3 uppercase cursor-pointer" contenteditable="true">
            <h1 class=" font-bold text-2xl uppercase cursor-pointer text-white" contenteditable="true" draggable="true" > <span  class="text-xl text-white"><i class="fa-solid fa-briefcase"></i></span> WORK EXPERIENCE</h1>
        </div></div> 



        <div class=" px-3 pt-2   selectedParentContainer draggableEle">
           
            <h1 class="text-xl font-bold capitalize   draggableEle mt-2 " contenteditable="true">Front-End Developer - XYZ Solutions 
                <span class="text-[17px] float-right text-blue-400 font-bold" contenteditable="true">(Aug 2020-Aug 2024)</span></h1> 

       
            <ul class="draggableEle list-disc text-[18px] text-gray-700  font-semibold text-justify leading-tight selectedParentContainer">
                <li contenteditable="true" draggable="true">Designed and implemented responsive web pages using HTML, CSS, and JavaScript.</li>
                <li contenteditable="true" draggable="true">Collaborated with designers and back-end developers to deliver user-friendly interfaces.</li>
                <li contenteditable="true" draggable="true">Improved website performance, reducing load time by 25%</li>
            </ul>
        

            <h1 class="text-xl font-bold capitalize   draggableEle mt-2 " contenteditable="true">Web Design Intern - Creative Minds 
                <span class="text-[17px] float-right text-blue-400" contenteditable="true">(Aug 2020-Aug 2024)</span></h1> 
            <ul class="draggableEle list-disc text-[18px] font-semibold text-justify leading-tight selectedParentContainer text-gray-700 ">
                <li contenteditable="true" draggable="true">Created visually appealing layouts and wireframes for client websites.</li>
                <li contenteditable="true" draggable="true">Optimized images and media for faster loading and better performance</li>
                <li contenteditable="true" draggable="true">Assisted in testing and maintaining the functionality of e-commerce platforms.</li>
            </ul> 
            
         </div>
      
           
         <div class="selectedParentContainer draggableEle">  <div class="draggableEle w-[100%] mx-auto border-[1px] 
            border-solid border-zinc-800 mt-8 "></div></div>
    <div class="selectedParentContainer draggableEle">
        <div class="  bg-zinc-700 text-white rounded-5 mt-[10px] py-1 h-10 font-bold text-2xl  px-3 uppercase cursor-pointer" contenteditable="true">
            <h1 class=" font-bold text-2xl uppercase cursor-pointer text-white" contenteditable="true" draggable="true" ><span class="text-xl text-white"><i class="fa-solid fa-list-check"></i></span>&nbsp; PROJECTS</h1></div></div>

         <div class=" px-3 pt-2 mt-2 selectedParentContainer draggableEle">
            <h1 class="text-xl font-bold capitalize text-blue-400  draggableEle" contenteditable="true" draggable="true">instant chat app| lukrasto</h1>
            <ul class="draggableEle text-gray-700  list-disc text-[18px] font-semibold text-justify leading-tight selectedParentContainer">
                <li contenteditable="true" draggable="true">Developed standard Message using Story bloop KA</li>
                <li contenteditable="true" draggable="true">Improved User Experience During usage of the app by eliminating bugs</li>
            </ul>
            <h1 class="text-xl font-bold capitalize text-blue-400  draggableEle" contenteditable="true" draggable="true">Weather App |Lukrasoto</h1>
            <ul class="draggableEle text-gray-700  list-disc text-[18px] font-semibold text-justify leading-tight selectedParentContainer">
                <li contenteditable="true" draggable="true">Optimized for mobile and desktop with a dark mode toggle for better UX.</li>
                <li contenteditable="true" draggable="true">Integrated OpenWeatherMap API for real-time weather updates.</li>
            </ul>
         </div>

         <div class="selectedParentContainer draggableEle">  <div class="w-[100%] mx-auto border-[1px] border-solid border-zinc-800  mt-8 "></div></div>
    <div class="selectedParentContainer draggableEle"> <div class="text-white bg-zinc-700  rounded-5 mt-[10px] py-1 h-10 font-bold text-2xl  px-3 uppercase cursor-pointer" contenteditable="true">
        <h1 class=" font-bold text-2xl  uppercase cursor-pointer text-white" contenteditable="true" draggable="true" ><span class="text-xl text-white">
            <i class="fa-solid fa-user-graduate"></i></span> EdUCATION</h1>
    </div> </div>



    <div class=" px-3 pt-2 mt-2 selectedParentContainer draggableEle">
        <h1 class="text-xl font-bold capitalize draggableEle" contenteditable="true" draggable="true">Master of Science in Mechanical Engineering
            <span class="text-[17px] float-right text-gray-500" contenteditable="true">(Aug 2020-Aug 2024)</span>
        </h1>
        <p class="text-[19px] font-semibold text-blue-400" contenteditable="true" draggable="true">University of Engineering and Technology
        </p>
        <ul class="draggableEle text-gray-700  list-disc text-[18px] font-semibold text-justify leading-tight selectedParentContainer">
            <li contenteditable="true" draggable="true">Specialization in Advanced Manufacturing.</li>
            <li contenteditable="true" draggable="true">Thesis on "Innovations in Sustainable Engineering Practices".</li>
        </ul>
        <h1 class="text-xl font-bold capitalize  draggableEle" contenteditable="true" draggable="true">Bachelor of Science in Civil Engineering
            <span class="text-[17px] float-right font-bold text-gray-500" contenteditable="true">(Aug 2020-Aug 2024)</span>
        </h1>
        <p class="text-[19px] font-semibold text-blue-400" contenteditable="true" draggable="true">City College of Engineering</p>
        <ul class="draggableEle text-gray-700  list-disc text-[18px] font-semibold text-justify leading-tight selectedParentContainer">
            <li contenteditable="true" draggable="true">Relevant coursework in Structural Design and Project Management..</li>

        </ul>
     </div>

    </div>
</div>