<div class="container">
    <div class="page">
        <div id="download-btn">
            <i class="fa-solid fa-download"></i>
        </div>
        <div id="page1">
            <div class="" id="ta-section-1">
                <div id="ta-section-1-left">
                    <div contenteditable="true" class="h1" id="name">
                        Your Name
                    </div>
                </div>
                <div class="test" id="ta-section-1-right">
                    <div id="email" class="ta-section-1-right-item">
                        <div id="icon"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;</div>
                        <div contenteditable="true" id="value">youremail@email.com</div>
                    </div>
                    <div id="phone" class="ta-section-1-right-item">
                        <div id="icon"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;</div>
                        <div contenteditable="true" id="value">8767567678</div>
                    </div>
                    <div id="address" class="ta-section-1-right-item">
                        <div id="icon"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;</div>
                        <div contenteditable="true" id="value">Jaipur, Rajsthan (334433)</div>
                    </div>
                </div>
            </div>
            <!-- work experience -->
            <div class="ta-section" id="tas2">
                <div class="h5 text-center ta-section-heading" id="tas2-heading">
                    Work Experience
                </div>

                <!-- work experience element -->
                <ul class="ta-section-sub-sections">
                    <li class="ta-section-sub-section ta-section-sub-section-copy">
                        <div id="tas2-wee-wrapper">
                            <div class="h6" id="tas2-wee-heading">
                                <div id="role-and-company"><span contenteditable="true">Software
                                        Engineer</span>&nbsp;&comma;&nbsp;&nbsp;<span contenteditable="true">Xyz Pvt
                                        Lmt</span></div>
                                <div id="from-and-to"><span contenteditable="true">2 Jan
                                        2024</span>&nbsp;&#45;&nbsp;<span contenteditable="true">Present</span>
                                    <div id="state-and-country"><span
                                            contenteditable="true">Rajasthan</span>&comma;&nbsp;<span
                                            contenteditable="true">India</span></div>
                                </div>
                            </div>
                            <ul id="tas2-wee-key-points">
                                <li contenteditable="true">Worked on the payments team to save time and improve cash
                                    flow
                                    for over 50,000 through the development of modern, responsive customer experiences
                                </li>
                                <li contenteditable="true">Led the migration from AWS to GCP for the team to reduce
                                    cloud
                                    costs by $260,000 per year</li>
                                <li contenteditable="true">Worked closely with the product team to re-configure the
                                    processing of invoices, saving customers over 125,000 manual hours of work per month
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- education -->
            <div class="ta-section" id="tas3">
                <div class="h5 text-center ta-section-heading" id="tas3-heading">
                    Education
                </div>

                <!-- education elements -->
                <ul class="ta-section-sub-sections">
                    <li class="ta-section-sub-section ta-section-sub-section-copy">
                        <div id="tas3-wee-wrapper">
                            <div class="h6" id="tas3-wee-heading">
                                <div id="degree-collage-score"><span contenteditable="true">B.Tech(Computer
                                        Science)</span><span id="collage" contenteditable="true">National
                                        Institute Of Technology, Agartala</span><span
                                        id="score"><i>Score&nbsp;&nbsp;<span
                                                contenteditable="true">60%</span></i></span>
                                </div>
                                <div id="from-and-to"><span contenteditable="true">2 Jan
                                        2024</span>&nbsp;&#45;&nbsp;<span contenteditable="true">Present</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- skills -->
            <div class="ta-section" id="tas4">
                <div class="h5 text-center ta-section-heading" id="tas4-heading">
                    Skills
                </div>

                <!-- skills elements -->
                <ul class="ta-section-sub-sections">
                    <li class="ta-section-sub-section ta-section-sub-section-copy">
                        <div contenteditable="true" class="tas4-skill">
                            Java
                        </div>
                    </li>
                    <li class="ta-section-sub-section">
                        <div contenteditable="true" class="tas4-skill">
                            C++
                        </div>
                    </li>
                    <li class="ta-section-sub-section">
                        <div contenteditable="true" class="tas4-skill">
                            Data Structures & Algorithms
                        </div>
                    </li>
                    <li class="ta-section-sub-section">
                        <div contenteditable="true" class="tas4-skill">
                            HTML
                        </div>
                    </li>
                    <li class="ta-section-sub-section">
                        <div contenteditable="true" class="tas4-skill">
                            CSS
                        </div>
                    </li>
                    <li class="ta-section-sub-section">
                        <div contenteditable="true" class="tas4-skill">
                            JavaScript
                        </div>
                    </li>
                </ul>
            </div>
            <!-- projects -->
            <div class="ta-section" id="tas5">
                <div class="h5 text-center ta-section-heading" id="tas5-heading">
                    projects
                </div>

                <!-- project elements -->
                <ul class="ta-section-sub-sections">
                    <li class="ta-section-sub-section ta-section-sub-section-copy">
                        <div class="tas5-project">
                            <div class="h6" id="project-name">
                                Resume Builder
                            </div>
                            <div id="project-about">
                                <ul>
                                    <li contenteditable="true">
                                        Built resume builder web app to make resume for free of cost.
                                    </li>
                                    <li contenteditable="true">
                                        Link : http://localhost:3000/template/templateA
                                    </li>
                                    <li contenteditable="true">
                                        Tech stack : HTML, CSS, JavaScript
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="ta-section-menu">
                <ul id="ta-section-menu-items">
                    <li class="ta-section-menu-item" id="ta-section-menu-item-add"><i class="fa-solid fa-plus"></i></li>
                    <li class="ta-section-menu-item" id="ta-section-menu-item-delete"><i class="fa-solid fa-trash"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>